<div class="hero-slide owl-carousel site-blocks-cover">
    <div class="intro-section" style="background-image: url('/image/1.jpg');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 mx-auto text-center" data-aos="fade-up">
                    <h1 class="title"></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="intro-section" style="background-image: url('/image/hero_2.jpg');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 mx-auto text-center" data-aos="fade-up">
                    <h1 class="title"></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="intro-section" style="background-image: url('/image/2.jpg');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 mx-auto text-center" data-aos="fade-up">
                    <h1 class="title"></h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-4">
                <h2>
                    <span>Эссеҳои беҳтарин</span>
                </h2>
            </div>
        </div>


        <div class="owl-slide owl-carousel">

            <div class="ftco-testimonial-1">
                <div class="ftco-testimonial-vcard d-flex align-items-center mb-4">
                    <img src="~/image/person_1.jpg" alt="Image" class="img-fluid mr-3">
                    <div>
                        <h3>Ҳасанова Манижа</h3>
                        <span>Донишҷӯи курси 4 ихтисоси 40.01.02</span>
                    </div>
                </div>
                <div>
                    <p class="text-white-space">Мавзӯъ: Асосҳои алгоритми шифронӣ <a href="#" class="small btn btn-primary px-4 py-2 rounded-0" style="color: black;">Муфассал</a></p>
                </div>
            </div>

            <div class="ftco-testimonial-1">
                <div class="ftco-testimonial-vcard d-flex align-items-center mb-4">
                    <img src="~/image/person_2.jpg" alt="Image" class="img-fluid mr-3">
                    <div>
                        <h3>Собирова Мафтуна</h3>
                        <span>Донишҷӯи курси 4 ихтисоси 40.01.02</span>
                    </div>
                </div>
                <div>
                    <p class="text-white-space">Мавзӯъ: Бехатарии иттилотӣ <a href="#" class="small btn btn-primary px-4 py-2 rounded-0" style="color: black;">Муфассал</a></p>
                </div>
            </div>

            <div class="ftco-testimonial-1">
                <div class="ftco-testimonial-vcard d-flex align-items-center mb-4">
                    <img src="~/image/person_4.jpg" alt="Image" class="img-fluid mr-3">
                    <div>
                        <h3>Самеев Фурқат</h3>
                        <span>Донишҷӯи курси 4 ихтисоси 40.01.02</span>
                    </div>
                </div>
                <div>
                    <p class="text-white-space">Мавзӯъ: Вирусҳои шабакавӣ <a href="#" class="small btn btn-primary px-4 py-2 rounded-0" style="color: black;">Муфассал</a></p>
                </div>
            </div>

            <div class="ftco-testimonial-1">
                <div class="ftco-testimonial-vcard d-flex align-items-center mb-4">
                    <img src="~/image/person_3.jpg" alt="Image" class="img-fluid mr-3">
                    <div>
                        <h3>Солиҷонов Иброҳим</h3>
                        <span>Донишҷӯи курси 3 ихтисоси 40.01.01</span>
                    </div>
                </div>
                <div>
                    <p class="text-white-space">Мавзӯъ: Асосҳои омӯзиши мошинӣ <a href="#" class="small btn btn-primary px-4 py-2 rounded-0" style="color: black;">Муфассал</a></p>
                </div>
            </div>

            <div class="ftco-testimonial-1">
                <div class="ftco-testimonial-vcard d-flex align-items-center mb-4">
                    <img src="~/image/person_2.jpg" alt="Image" class="img-fluid mr-3">
                    <div>
                        <h3>Собирова Мафтуна</h3>
                        <span>Донишҷӯи курси 4 ихтисоси 40.01.02</span>
                    </div>
                </div>
                <div>
                    <p class="text-white-space">Мавзӯъ: Алгоритми дарахти хулоса <a href="#" class="small btn btn-primary px-4 py-2 rounded-0" style="color: black;">Муфассал</a></p>
                </div>
            </div>

            <div class="ftco-testimonial-1">
                <div class="ftco-testimonial-vcard d-flex align-items-center mb-4">
                    <img src="~/image/person_4.jpg" alt="Image" class="img-fluid mr-3">
                    <div>
                        <h3>Самеев Фурқат</h3>
                        <span>Донишҷӯи курси 3 ихтисоси 40.01.02</span>
                    </div>
                </div>
                <div>
                    <p class="text-white-space">Мавзӯъ: Алгоритми ҷангали тасодуфӣ <a href="#" class="small btn btn-primary px-4 py-2 rounded-0" style="color: black;">Муфассал</a></p>
                </div>
            </div>

        </div>

    </div>
</div>
